[{:db/id #db/id[:db.part/db]
  :db/ident :book/title
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A book's title"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :book/authors
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "The author(s) of a book"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :author/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "An author's name"
  :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
  :db/ident :book/clippings
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "The clippings of a book"
  :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
  :db/ident :clipping/text
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A book clipping"
  :db.install/_attribute :db.part/db}]
